.specials {
    position: absolute;
    top: 207px;
    left: 0;
    font-weight: 500;
    display: inline-block;
    min-width: 127px;
  }
  .specials-parent {
    margin-top: -207px;
    height: 1208.2px;
    width: 1275px;
    position: relative;
    max-width: calc(100% - 610px);
    flex-shrink: 0;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-dm-sans);
  }
  .desktop-1,
  .food-website-template {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .desktop-1 {
    height: 1024px;
    width: 1990px;
    border-radius: 50px;
    background-color: #fff;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 108px 258px 147px;
    max-width: 100%;
  }
  .food-website-template {
    width: 100%;
    position: relative;
    background-color: #fde2e2;
    justify-content: flex-end;
    padding: 158px 153px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 2250px) {
    .specials-parent {
      display: none;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 1650px) {
    .specials-parent {
      display: none;
    }
    .desktop-1 {
      padding: 70px 129px 96px;
      box-sizing: border-box;
    }
    .food-website-template {
      padding-left: var(--padding-57xl);
      padding-right: var(--padding-57xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1050px) {
    .specials {
      font-size: var(--font-size-7xl);
    }
    .specials-parent {
      display: none;
    }
    .desktop-1 {
      height: auto;
      padding: var(--padding-26xl) 64px 62px;
      box-sizing: border-box;
    }
    .food-website-template {
      padding-left: var(--padding-19xl);
      padding-right: var(--padding-19xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .specials {
      font-size: var(--font-size-lgi);
    }
    .specials-parent {
      display: none;
    }
    .desktop-1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }